APP_MODE=development
APP_SECRET_KEY=__REPLACE_WITH_SECURE_ENCRYPTION_KEY__
AUTH_PRIVATE_KEY=__REPLACE_WITH_JWT_SIGNING_PRIVATE_KEY__
AUTH_PUBLIC_KEY=__REPLACE_WITH_JWT_SIGNING_PUBLIC_KEY__
AUTH_SECRET_KEY=__REPLACE_WITH_SECRET_KEY_FOR_JWT_HMAC_ALGORITHM_SIGNING__
DATABASE_URL=postgresql://postgres:securedb@localhost:5432/postgres?sslmode=disable
MAILER_SMTP_HOST=localhost
MAILER_SMTP_PASSWORD=mailerpass1
MAILER_SMTP_PORT=1025
MAILER_SMTP_SECURE=false
MAILER_SMTP_USERNAME=maileruser1
PUBLIC_BASE_URL=http://localhost:3080
STORAGE_S3_ACCESS_KEY_ID=s3admin
STORAGE_S3_ACCESS_KEY_SECRET=s3passw0rd
STORAGE_S3_BUCKET_NAME=devbucket
STORAGE_S3_ENDPOINT_URL=http://localhost:9100
STORAGE_S3_REGION=auto
